<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- head 中 -->
    <link rel="stylesheet" href="css/materialize.min.css">


    <title>使用说明</title>
</head>
<body style="padding: 20px">


<div class="card-panel">
    <span class="blue-text text-darken-2" id="service">
        如果启动脚本后一直存在某一界面，请在系统设置里先使用无障碍模式运行一次，再切换成代理模式运行。
    </span>
</div>


<!-- body 最后 -->
<script src="htmljs/jquery.min.js"></script>
<script src="htmljs/materialize.min.js"></script>


</body>


</html>